# WEB (.env)
VITE_SUPABASE_URL=https://bahxggpeblywkggcjfmw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhaHhnZ3BlYmx5d2tnZ2NqZm13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4MTE0MTUsImV4cCI6MjA5OTM4NzQxNX0.iV_O_82ln38Bjg45O5e-74HNJ8KFdnXcm3-X_A3au2g

# Para Create React App:
REACT_APP_SUPABASE_URL=https://bahxggpeblywkggcjfmw.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhaHhnZ3BlYmx5d2tnZ2NqZm13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4MTE0MTUsImV4cCI6MjA5OTM4NzQxNX0.iV_O_82ln38Bjg45O5e-74HNJ8KFdnXcm3-X_A3au2g
